<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      หน้าแรก
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img src="https://static.thairath.co.th/media/dFQROr7oWzulq5FZYjuacLtQMW0lkU1fxzwIASvUQg9TB0M36BMrOhxrUYPrHStzpeH.jpg" alt="">
  <img src="https://lh3.googleusercontent.com/proxy/Kt4EuE_wXkKXBzwyySNvqtgDUJhXnyXK1-sLNP_XrdMB9EMHPI1U6P2VJUs5H7x4_XGyei2jckch1Op2tFFjXH8dGCChBJHAjy9crLyLPQaH8j-3sRcr" alt="">
  <div id="box">
    <div> Nding1</div> 
    Nding2
  </div>
<ion-toolbar>
   
